body {
  background-color: #fff0f0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

main {
  background-color: yellow;
  display: grid;
  grid-template-rows: 20% 70% 10%;
  height: 100vh;
}

main header {
  background-color: blue;
}
main section {
  background-color: green;
}
main footer {
  background-color: red;
}
